<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title>Simple Web App</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/prescription.controller.js" th:src="@{/app/prescription.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="PrescriptionRestController as vm">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Simple Web App</a>
            </div>
            <p class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}" style="margin-right: 10px;">Signed in as Anonymous</p>
        </nav>
    </header>

    <div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">

                <div>
                    <a href="/form">Create New Prescription</a>
                </div>

                <div class="btn-group" role="group">
                    <button ng-click="vm.getAll()" type="button" class="btn btn-default">All</button>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Diagnosis</th>
                            <th>Medicine</th>
                            <th>Next Visit</th>
                            <th style="width: 90px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prescription in vm.prescriptions">
                            <td>{{prescription.prescriptionDate}}</td>
                            <td>{{prescription.name}}</td>
                            <td>{{prescription.age}}</td>
                            <td>{{prescription.gender}}</td>
                            <td>{{prescription.diagnosis}}</td>
                            <td>{{prescription.medicines}}</td>
                            <td>{{prescription.nextVisit}}</td>
                            <td>
                                <a href="/edit-form/prescription.id">Edit</a>
                                <button class="btn btn-danger" ng-click="vm.deleteBooking(prescription.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <footer class="footer" style="position: absolute; bottom: 0; background-color: #f5f5f5;">
        <div class="container">
        </div>
    </footer>
</body>
</html>