<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title>Simple Web App</title>
</head>
<body>
    <p th:text="${errorMessage}">Error Message!</p>
    <form method="post">
        Name : <input type="text" name="username" />
        Password : <input type="password" name="password" />
        <input type="submit" />
    </form>
</body>
</html>