<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title>Simple Web App</title>
</head>
<body>
    <p th:text="'Welcome ' + ${username}" /> <a href="/list-prescriptions">Click here</a> to manage your prescriptions.
</body>
</html>